In [4]:
#Importing 
import pandas as pd

In [40]:
#data
path = "../06. FeatSel & DimRed/" 

df = pd.read_csv(path+'shops.csv')

In [41]:
df.head()

                            shop_name  shop_id
0  ! Yakutsk Ordzhonikidze, 56 francs        0
1         ! Yakutsk TC "Central" fran        1
2                    Adygea TC "Mega"        2
3     Balashikha TC "Oktyabr-Kinomir"        3
4               Volga TC "Volga Mall"        4


## Exercise 1: Detect repeted shops

There are 4 repeted shops (8 different shop_ids). Look at the shop_name and find repeated shops. This is important because need to remove duplicated shops in the future.

Please complete this:

- Ids of repepeated shop 1: ____ and ____
- Ids of repepeated shop 2: ____ and ____
- Ids of repepeated shop 3: ____ and ____
- Ids of repepeated shop 4: ____ and ____

In [29]:
Doblicated_IDs = df[df.duplicated(keep = False)]
print(Doblicated_IDs)
Doblicated_IDs.head()

Empty DataFrame
Columns: [shop_name, shop_id]
Index: []

Empty DataFrame
Columns: [shop_name, shop_id]
Index: []

In [44]:
df.nunique()

shop_name    60
shop_id      60
dtype: int64

In [45]:
df.nunique(axis= 1)

0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
21    2
22    2
23    2
24    2
25    2
26    2
27    2
28    2
29    2
30    2
31    2
32    2
33    2
34    2
35    2
36    2
37    2
38    2
39    2
40    2
41    2
42    2
43    2
44    2
45    2
46    2
47    2
48    2
49    2
50    2
51    2
52    2
53    2
54    2
55    2
56    2
57    2
58    2
59    2
dtype: int64