In [5]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [12]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

r1 = df[0].sum()/3
r2 = df[1].sum()/3
r3 = df[2].sum()/3  
print(r1, r3, r2)

0.9243302311055926 0.9186494532629239 1.0479420068398264

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [15]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.describe()

,a,b,c,d,e,f,g,h,i,j
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,0.772203,0.135369,0.665830,0.254702,0.625539,0.809613,0.709821,0.514973,0.373676,0.446108
std,0.167427,0.059237,0.326703,0.210875,0.299813,0.123408,0.285288,0.291074,0.317649,0.341282
min,0.539191,0.054018,0.171749,0.016108,0.131317,0.601080,0.222745,0.054200,0.099074,0.072047
25%,0.695846,0.092065,0.508186,0.142266,0.577851,0.805216,0.692111,0.438872,0.168407,0.089111
50%,0.800631,0.166240,0.782203,0.166710,0.747320,0.854738,0.833338,0.617390,0.276089,0.573261
75%,0.836088,0.172459,0.909759,0.428427,0.765117,0.868046,0.894895,0.642963,0.428088,0.745939
max,0.989258,0.192062,0.957254,0.519996,0.906091,0.918987,0.906015,0.821441,0.896724,0.750180